<template>
  <div class="add-goods">
    <AdminBreadcrumb :breadcrumbs="breadcrumbs"></AdminBreadcrumb>
    <el-alert
      style="margin-top: 30px"
      title="添加商品信息"
      type="info"
      center
      :closable="false"
      show-icon
    >
    </el-alert>
    <el-steps :active="Number(actived)" align-center finish-status="success">
      <el-step title="基本信息"></el-step>
      <el-step title="商品参数"></el-step>
      <el-step title="商品属性"></el-step>
      <el-step title="商品图片"></el-step>
      <el-step title="商品内容"></el-step>
    </el-steps>
    <el-tabs tab-position="left" @tab-click="handleTabClick">
      <el-tab-pane label="基本信息">
        <el-form
          ref="goodsInfo"
          label-position="top"
          label-width="80px"
          :model="goodsInfo"
          :rules="goodsInfoRules"
        >
          <el-form-item label="商品名称" prop="goods_name">
            <el-input v-model="goodsInfo.goods_name"></el-input>
          </el-form-item>
          <el-form-item label="商品价格" prop="goods_price">
            <el-input v-model="goodsInfo.goods_price"></el-input>
          </el-form-item>
          <el-form-item label="商品重量" prop="goods_weight">
            <el-input v-model="goodsInfo.goods_weight"></el-input>
          </el-form-item>
          <el-form-item label="商品数量" prop="goods_number">
            <el-input v-model="goodsInfo.goods_number"></el-input>
          </el-form-item>
          <el-form-item label="商品分类" prop="goods_cat">
            <!-- <el-input v-model="goodsInfo.goods_cat"></el-input> -->
            <el-cascader
              ref="cal"
              v-model="goodsInfo.goods_cat"
              :options="allCats"
              :props="{
                label: 'cat_name',
                value: 'cat_id',
              }"
              @change="handleChange"
            ></el-cascader>
          </el-form-item>
        </el-form>
      </el-tab-pane>
      <el-tab-pane label="商品参数">
        <template v-for="item in goodsPramas">
          <div :key="item.attr_id" v-if="item.attr_vals.length > 0">
            <h3>{{ item.attr_name }}</h3>
            <el-checkbox
              checked
              :label="_item"
              @click.native="removeAttr(index, item)"
              v-for="(_item, index) in item.attr_vals"
              :key="index"
              border
            ></el-checkbox>
          </div>
        </template>
      </el-tab-pane>
      <el-tab-pane label="商品属性">
        <el-form label-position="top" label-width="80px">
          <el-form-item
            v-for="item in goodsAttrs"
            :key="item.attr_id"
            :label="item.attr_name"
          >
            <el-input v-model="item.attr_vals"></el-input>
          </el-form-item>
        </el-form>
      </el-tab-pane>
      <el-tab-pane label="商品图片">
        <el-upload
          :action="$baseURL + 'upload'"
          :on-preview="handlePreview"
          :on-remove="handleRemove"
          :on-success="handleSuccess"
          :on-progress="handleProgress"
          :auto-upload="false"
          :on-change="changeUpload"
          :show-file-list="showFileStatus"
          :before-upload="handleBeforeUpload"
          :headers="{
            Authorization: $store.state.token,
          }"
          :file-list="fileList"
          list-type="picture"
        >
          <el-button size="small" type="primary">点击上传</el-button>
          <div slot="tip" class="el-upload__tip">
            只能上传jpg/png文件，且不超过500kb
          </div>
        </el-upload>
        <el-dialog
          title="裁剪图片"
          @close="handleClose"
          :visible.sync="clipDialog"
        >
          <div>
            <div style="height: 400px">
              <vueCropper
                ref="cropper"
                :img="option.img"
                :outputSize="option.size"
                :outputType="option.outputType"
                :info="true"
                :full="option.full"
                :canMove="option.canMove"
                :canMoveBox="option.canMoveBox"
                :original="option.original"
                :autoCrop="option.autoCrop"
                :fixed="option.fixed"
                :fixedNumber="option.fixedNumber"
                :centerBox="option.centerBox"
                :infoTrue="option.infoTrue"
                :enlarge="option.enlarge"
              ></vueCropper>
            </div>
            <div>
              <el-button type="primary" circle @click="changeScale(1)"
                >+</el-button
              >
              <el-button type="primary" circle @click="changeScale(-1)"
                >-</el-button
              >
            </div>
          </div>

          <div slot="footer">
            <el-button @click="clipDialog = false">取 消</el-button>
            <el-button type="primary" @click="upload">确 定</el-button>
          </div>
        </el-dialog>
      </el-tab-pane>
      <el-tab-pane label="商品内容">
        <froala
          ref="editor"
          :tag="'textarea'"
          :config="config"
          v-model="model"
        ></froala>
        <el-button type="primary" @click="addGoods">添加商品</el-button>
      </el-tab-pane>
    </el-tabs>
    <el-dialog title="" :visible.sync="previewDialog" width="width">
      <div>
        <img :src="bigImg" alt="" />
      </div>
      <div slot="footer">
        <el-button @click="previewDialog = false">取 消</el-button>
        <el-button type="primary" @click="previewDialog = false"
          >确 定</el-button
        >
      </div>
    </el-dialog>
    <el-dialog title="" :visible.sync="clipDialogStatus">
      <div style="height: 400px">
        <vueCropper
          ref="croppers"
          :img="cropperOption.img"
          :autoCrop="cropperOption.autoCrop"
        ></vueCropper>
      </div>
      <div slot="footer">
        <el-button @click="clipDialogStatus = false">取 消</el-button>
        <el-button type="primary" @click="handleCropper">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      cropperOption: {
        img: "",
        info: true,
        autoCrop: true,
      },
      clipDialogStatus: false,
      option: {
        img: "", // 裁剪图片的地址
        info: true, // 裁剪框的大小信息
        outputSize: 0.8, // 裁剪生成图片的质量
        outputType: "jpeg", // 裁剪生成图片的格式
        canScale: false, // 图片是否允许滚轮缩放
        autoCrop: true, // 是否默认生成截图框
        // autoCropWidth: 300, // 默认生成截图框宽度
        // autoCropHeight: 200, // 默认生成截图框高度
        fixedBox: true, // 固定截图框大小 不允许改变
        fixed: true, // 是否开启截图框宽高固定比例
        fixedNumber: [7, 5], // 截图框的宽高比例
        full: true, // 是否输出原图比例的截图
        canMoveBox: true, // 截图框能否拖动
        original: false, // 上传图片按照原始比例渲染
        centerBox: false, // 截图框是否被限制在图片里面
        infoTrue: true, // true 为展示真实输出图片宽高 false 展示看到的截图框宽高
      },
      breadcrumbs: [
        {
          title: "首页",
          name: "Home",
        },
        {
          title: "商品管理",
        },
        {
          title: "商品列表",
        },
      ],
      actived: "0",
      goodsInfo: {
        goods_name: "",
        goods_price: "",
        goods_weight: "",
        goods_number: 0,
        goods_cat: "",
      },
      goodsInfoRules: {
        goods_name: [
          {
            required: true,
            message: "请输入商品名称",
            trigger: "blur",
          },
        ],
        goods_price: [
          {
            required: true,
            message: "请输入商品名称",
            trigger: "blur",
          },
        ],
        goods_weight: [
          {
            required: true,
            message: "请输入商品名称",
            trigger: "blur",
          },
        ],
        goods_number: [
          {
            required: true,
            message: "请输入商品名称",
            trigger: "blur",
          },
        ],
        goods_cat: "",
      },
      allCats: [],
      goodsPramas: [],
      goodsAttrs: [],
      fileList: [],
      previewDialog: false,
      bigImg: "",
      //froala编辑器配置文件以及图片上传回显在线地址处理方法。
      config: {
        events: {
          initialized: function () {
            console.log("initialized");
          },
          "image.uploaded": function (res) {
            // console.log(this);
            let response = JSON.parse(res);
            let editor = this;
            editor.image.insert(
              response.data.url.replace("localhost:", "localhost:8889"),
              false,
              null,
              editor.image.get(),
              response
            );
            return false;
          },
        },
        requestHeaders: {
          Authorization: this.$store.state.token,
        },
        imageUploadParam: "file",
        // Set the image upload URL.
        imageUploadURL: this.$baseURL + "upload",
        imageUploadMethod: "POST",

        charCounterCount: false,
        toolbarBottom: false,
      },
      model: "Edit Your Content Here!",
      fileinfo: "",
      clipDialog: false,
      showFileStatus: false,
    };
  },
  methods: {
    handleCropper() {
      this.$refs.croppers.getCropBlob(async (data) => {
        // do something
        let obj = new FormData();
        obj.append(
          "file",
          new File([data], this.fileinfo.name, {
            type: this.fileinfo.raw.type,
          })
        );
        const res = await this.$apis.upload(obj);
        console.log(res);
      });
    },
    async handleTabClick(val) {
      this.actived = +val.index + 1;
      if (val.index == 1) {
        if (this.goodsInfo.goods_cat.length != 3) {
          this.$message({
            type: "error",
            message: "请选择三级分类",
          });
        } else {
          const res = await this.$apis.getGoodsAttrs(
            this.goodsInfo.goods_cat[this.goodsInfo.goods_cat.length - 1],
            "many"
          );
          res.map((item) => {
            item.attr_vals = item.attr_vals.split(",");
          });
          this.goodsPramas = res;
        }
      } else if (val.index == 2) {
        if (this.goodsInfo.goods_cat.length != 3) {
          this.$message({
            type: "error",
            message: "请选择三级分类",
          });
        } else {
          const res = await this.$apis.getGoodsAttrs(
            this.goodsInfo.goods_cat[this.goodsInfo.goods_cat.length - 1],
            "only"
          );
          this.goodsAttrs = res;
          console.log(res);
        }
      }
    },
    //获取所有分类
    async getAllCats() {
      const res = await this.$apis.getAllCats();
      this.allCats = res;
    },
    async handleChange(val) {
      if (val.length != 3) {
        this.goodsInfo.goods_cat = [];
      }
    },
    removeAttr(index, val) {
      console.log(index);
      val.attr_vals.splice(index, 1);
    },
    handlePreview({ url }) {
      this.previewDialog = true;
      this.bigImg = url;
    },
    handleRemove({ url }) {
      let index = this.fileList.findIndex((item) => url === item.url);
      this.fileList.splice(index, 1);
    },
    handleSuccess(res) {
      let url = res.data.url.replace("localhost:", "localhost:8889");
      this.fileList.unshift({
        name: res.data.tmp_path,
        url: url,
      });
    },
    handleProgress({ url }) {},
    changeUpload(file, fileList) {
      // const isLt5M = file.size / 1024 / 1024 < 5;
      // if (!isLt5M) {
      //   this.$message.error("上传文件大小不能超过 5MB!");
      //   return false;
      // }
      this.fileinfo = file;
      // 上传成功后将图片地址赋值给裁剪框显示图片
      this.$nextTick(() => {
        this.showFileStatus = false;
        this.option.img = file.url;
        this.clipDialog = true;
      });
      // this.clipDialogStatus = true;
      // this.cropperOption.img = file.url;
      // console.log(file);
    },
    async addGoods() {
      let arr = [],
        attrs = [];
      this.fileList.map((item) => {
        arr.push({
          pic: item.name,
        });
      });
      this.goodsPramas.map((item) => {
        item.attr_vals.map((_item) => {
          attrs.push({
            attr_id: item.attr_id,
            attr_value: _item,
          });
        });
      });
      this.goodsAttrs.map((item) => {
        attrs.push({
          attr_id: item.attr_id,
          attr_value: item.attr_vals,
        });
      });
      let obj = {
        ...this.goodsInfo,
        goods_introduce: this.model,
        pics: arr,
        attrs,
        goods_cat: this.goodsInfo.goods_cat.join(","),
      };
      this.$refs.goodsInfo.validate((valid) => {
        if (valid) {
          this.$apis.addGoods(obj);
        }
      });
    },
    initialize(initControls) {
      this.initControls = initControls;
    },
    blobToFile(theBlob) {
      let fileName = "test." + theBlob.type.split("/")[1];
      return new File([theBlob], fileName, {
        lastModified: new Date().getTime(),
        type: theBlob.type,
      });
    },
    upload() {
      console.log(this.$refs.cropper);
      this.$refs.cropper.getCropBlob(async (data) => {
        console.log(data);
        var formData = new FormData();
        formData.append("file", this.blobToFile(data));
        const res = await this.$apis.upload(formData);
        this.handleSuccess({ data: res });
        this.clipDialog = false;
      });
    },
    handleClose() {
      this.showFileStatus = true;
      this.fileList = [...this.fileList];
    },
    clipImg() {},
    changeScale(num) {
      this.$refs.cropper.changeScale(num);
    },
    handleBeforeUpload() {
      return false;
    },
  },
  created() {
    this.getAllCats();
  },
};
</script>
<style lang='scss' scoped>
</style>