<template>
  <div class="reports">
    <v-chart style="height: 400px" class="chart" :option="option" />
    <highcharts :options="chartOptions"></highcharts>
  </div>
</template>

<script>
import $ from "jquery";
export default {
  data() {
    return {
      chartOptions: {
        chart: {
          type: "area",
        },
        title: {
          text: "折线图",
        },
        xAxis: {
          categories: ["1750", "1800", "1850", "1900", "1950", "1999", "2050"],
          tickmarkPlacement: "on",
          title: {
            enabled: false,
          },
        },
        yAxis: {
          labels: {
            formatter: function () {
              return this.value;
            },
          },
        },
        tooltip: {
          split: true,
        },
        plotOptions: {
          area: {
            stacking: "normal",
            lineColor: "#666666",
            lineWidth: 1,
            marker: {
              lineWidth: 1,
              lineColor: "#666666",
            },
          },
        },
        series: [
          {
            name: "亚洲",
            data: [502, 635, 809, 947, 1402, 3634, 5268],
          },
          {
            name: "非洲",
            data: [106, 107, 111, 133, 221, 767, 1766],
          },
          {
            name: "欧洲",
            data: [163, 203, 276, 408, 547, 729, 628],
          },
          {
            name: "美洲",
            data: [18, 31, 54, 156, 339, 818, 1201],
          },
          {
            name: "大洋洲",
            data: [2, 2, 2, 6, 13, 30, 46],
          },
        ],
      },
      option: {
        title: {
          text: "折线图",
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            label: {
              backgroundColor: "#6a7985",
            },
          },
        },
        toolbox: {
          feature: {
            saveAsImage: {},
          },
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
        xAxis: [
          {
            type: "category",
            boundaryGap: false,
          },
        ],
        yAxis: [{}],
        color: [
          "#ff0000",
          "#91cc75",
          "#fac858",
          "#ee6666",
          "#73c0de",
          "#3ba272",
          "#fc8452",
          "#9a60b4",
          "#ea7ccc",
        ],
      },
    };
  },
  methods: {
    async lineChart() {
      const res = await this.$apis.lineChart();
      this.option = {
        ...this.option,
        ...res,
      };
      this.chartOptions.xAxis.categories = res.xAxis[0].data;
      let arr = [];
      res.series.map((item) => {
        arr.push({
          name: item.name,
          data: item.data,
        });
      });
      this.chartOptions.series = arr;
    },
  },
  mounted() {
    this.lineChart();
    console.log($);
  },
};
</script>
<style lang='scss' scoped>
</style>