<script>
// import Lists from './Test'
import mixin from '../mixins'
export default {
   mixins: [mixin],
   data() {
      return {

      }
   },
   // components: {
   //    Lists
   // },
   // render(createElement, context){
   //    return createElement('h1', {
   //       class: 'hello',
   //       attrs: {
   //          id: '123',
   //          name: 'hello'
   //       }
   //    },[
   //       createElement('span', 'span')
   //    ])
   // }
   data(){
      return {
         arr: [1,2,3,4,5,6]
      }
   },
   render(h){
      const Lists = ({props}) => {
         return (
            props.item.map(item => {
               return (
                  <h1>{item}</h1>
               )
            })
         )
      }
      return(
         <div>
            <Lists item={this.arr} name="123"></Lists>
             <pre v-highlightA>
               <code>
                  &lt;link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"&gt;
               </code>
               <code>
                  &lt;script src="https://unpkg.com/element-ui/lib/index.js"&gt;&lt;/script&gt;
               </code>
               <code>
               const a = 123;
               </code>
               <code >
               console.log(a)
               </code>
            </pre>
         </div>
      )
   }
}
</script>
