<template>
  <div class='roles'>
     <AdminBreadcrumb :breadcrumbs="breadcrumbs"></AdminBreadcrumb>
     <el-table
     border
    :data="rolesData"
    style="width: 100%;margin-top:15px">
    <el-table-column type="expand">
      <template slot-scope="props">
        <el-row v-for="item in props.row.children" :key="item.id">
           <el-col :span="4">
              <el-tag type="success" @close="handleClose({roleId: props.row.id, rightId: item.id, obj: props.row})" closable>{{item.authName}}</el-tag>
              >
           </el-col>
           <el-col :span="20">
              <el-row v-for="_item in item.children" :key="_item.id">
                 <el-col :span="8">
                    <el-tag type="success" @close="handleClose({roleId: props.row.id, rightId: _item.id,  obj: props.row})" closable>{{_item.authName}}</el-tag>
                    >
                 </el-col>
                 <el-col :span="16">
                    <el-tag type="success" @close="handleClose({roleId: props.row.id, rightId: __item.id,  obj: props.row})" closable v-for="__item in _item.children" :key="__item.id">{{__item.authName}}</el-tag>
                 </el-col>
              </el-row>
           </el-col>
        </el-row>
      </template>
    </el-table-column>
    <el-table-column
      label="角色名称"
      prop="roleName">
    </el-table-column>
    <el-table-column
      label="角色描述"
      prop="roleDesc">
    </el-table-column>
    <el-table-column
      label="操作">
      <template slot-scope="scope">
         <el-button type="success"  icon="el-icon-check" circle size="small" @click="handleRoleDialog(scope.row)"></el-button>
      </template>
    </el-table-column>
  </el-table>
  <el-dialog
     title="角色授权"
     :visible.sync="roleDialog">
     <el-tree
     ref="tree"
      :data="allRights"
      show-checkbox
      node-key="id"
      :default-expand-all="true"
      :props="defaultProps">
      </el-tree>
     <div slot="footer">
        <el-button @click="roleDialog = false">取 消</el-button>
        <el-button type="primary" @click="handleRights">确 定</el-button>
     </div>
  </el-dialog>
  </div>
</template>

<script>
export default {
   data(){
      return{
         breadcrumbs: [
              {
                  title: '首页',
                  name: 'Home'
              },
              {
                  title: '权限管理',
              },
              {
                  title: '角色列表',
              }
          ],
         rolesData: [],
         roleDialog: false,
         allRights: [],
        defaultProps: {
          children: 'children',
          label: 'authName'
        },
        rolesRights: [],
        roleId: 0
      }
   },
   methods: {
      //获取角色列表
      async getRoles(){
         const res = await this.$apis.getRoles()
         this.rolesData = res
      },
      //删除权限菜单
      async handleClose(obj){
        const res = await this.$apis.delRights(obj)
         console.log(res)
         // obj.obj.children = res
         this.delRight(obj.obj.children, obj.rightId)
        this.$parent.$parent.$parent.$parent.getMenus()
      },
      delRight(arr, rightId){
         for(let i = 0; i < arr.length; i ++){
            if(arr[i].id === rightId){
               arr.splice(i,1)
            }else{
              arr[i].hasOwnProperty('children') && this.delRight(arr[i].children, rightId)
            }
         }
         
      },
      //打开权限列表弹窗
      async handleRoleDialog({children, id}){
         const res = await this.$apis.getAllRights()
         this.allRights = res
         this.rolesRights = children
         this.roleId = id
         this.roleDialog = true
         let _arr = []
         this.handleRoleRights(this.rolesRights, _arr)
         this.$nextTick(() => {
            this.$refs.tree.setCheckedNodes(_arr)
         })
      },
      //递归获取当前角色权限id扁平化
      handleRoleRights(rights, arr){
         rights.map(item => {
            if(item.hasOwnProperty('children')){
               this.handleRoleRights(item.children, arr)
            }else {
               arr.push(item)
            }
         })
      },
      //确认分配角色
      async handleRights() {
         await this.$apis.setRights({
            roleId:this.roleId,
            rids: [...this.$refs.tree.getCheckedKeys(), ...this.$refs.tree.getHalfCheckedKeys()].join(',')
         })
         this.roleDialog = false
         this.getRoles()
      }

   },
    created() {
       this.getRoles()
   }
}

</script>
<style lang='scss' scoped>
</style>