<script>

export default {
    props: ['item'],
    render(h){
      return(
        <h1 class="hello" id='123' name="hello">
            <span>{this.item}</span>
        </h1>
      )
   }
}
</script>
