<template>
  <div class="upload">
    <input
      ref="inpt"
      multiple
      type="file"
      style="display: none"
      @change="handleChange"
    />
    <el-button type="primary" @click="trrigerInpt">选择图片</el-button>
    <ul>
      <li v-for="item in list">
        <span>
          {{ item.name }}
        </span>
        <img
          style="height: 100px; width: 100px; border-radius: 50%"
          :src="item.src"
          alt=""
        />
      </li>
    </ul>
    <button @click="upload">clik</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      list: [],
    };
  },
  methods: {
    upload() {
      let files = this.$refs.inpt.files;
      for (let i = 0; i < files.length; i++) {
        const data = new FormData();
        data.append("file", files[i]);
        this.$apis.upload(data);
      }
    },
    handleChange() {
      let obj = this.$refs.inpt.files;
      for (let i = 0; i < obj.length; i++) {
        let _obj = {};
        _obj.name = obj[i].name;
        var reader = new FileReader();
        reader.onload = (e) => {
          console.log(123);
          _obj.src = e.target.result;
          this.list.push(_obj);
          this.$forceUpdate();
        };
        // (function (aImg) {
        //   return function (e) {
        //     aImg.src = e.target.result;
        //   };
        // })(img);
        reader.readAsDataURL(obj[i]);
      }
    },
    trrigerInpt() {
      this.$refs.inpt.click();
      return false;
    },
  },
  mounted() {},
};
</script>
<style lang='scss' scoped>
</style>