<template>
  <div class='users' v-if="obj">
     <AdminBreadcrumb :breadcrumbs="breadcrumbs"></AdminBreadcrumb>
     <el-form ref="form" @submit.native.prevent  @keyup.enter.native="search" :model="searchForm" label-width="80px" inline style="margin-top:15px">
        <el-form-item>
           <el-input v-model="searchForm.query" placeholder="请输入内容">
              <el-button type="primary" slot="append" icon="el-icon-search" @click="search"></el-button>
           </el-input>
        </el-form-item>
        <el-form-item>
           <el-button type="primary" @click="addDialog=true">添加用户</el-button>
        </el-form-item>
        <el-form-item>
           <download-excel :data="obj.users" name="filename.xls" :fields="json_fields">
             <el-button type="primary">导出用户</el-button>
           </download-excel>
        </el-form-item>
     </el-form>
     <el-table
     v-loading="loading"
       element-loading-background="rgba(255, 255, 255, 1)"
       element-loading-text="正在加载中"
    :data="obj.users"
    border
    style="width: 100%">
    <el-table-column
      type="index"
      :index="handleIndex">
    </el-table-column>
    <el-table-column
      prop="username"
      label="姓名"
      width="180">
    </el-table-column>
    <el-table-column
      prop="email"
      label="邮箱"
      width="180">
    </el-table-column>
    <el-table-column
      prop="mobile"
      label="电话">
    </el-table-column>
    <el-table-column
      label="创建日期">
      <template slot-scope="scope">
         {{scope.row.create_time|dealDate}}
      </template>
    </el-table-column>
    <el-table-column
      label="用户状态">
      <template slot-scope="scope">
         <el-switch v-model="scope.row.mg_state" @change="handleSwitchChange(scope.row)" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
      </template>
    </el-table-column>
    <el-table-column
      label="操作">
      <template slot-scope="scope">
         <el-button type="primary" circle icon="el-icon-edit" size="small"></el-button>
         <el-button type="success" icon="el-icon-check" circle size="small" @click="showRoleDialog(scope.row)"></el-button>
         <el-button type="danger" icon="el-icon-delete" circle size="small"></el-button>
      </template>
    </el-table-column>
  </el-table>
  <el-pagination
      @size-change="sizeChange"
      @current-change="currentChange"
      :page-sizes="[1, 2, 5, 10]"
      :page-size="params.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="obj.total"
      :current-page="params.pagenum"
      >
    </el-pagination>
    <Page :total="obj.total" :current="params.pagenum" @on-page-size-change="sizeChange" @on-change="currentChange" :page-size-opts="[1,2,5,10]" :page-size="params.pagesize" size="small" show-elevator show-sizer show-total />
    <el-dialog title="新增用户" :visible.sync="addDialog">
  <el-form :model="addForm" :rules="addRules">
    <el-form-item label="用户名" :label-width="formLabelWidth" prop="username">
      <el-input v-model="addForm.username" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item label="密码" :label-width="formLabelWidth" prop="password">
      <el-input v-model="addForm.password" type="password" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item label="电话" :label-width="formLabelWidth" prop="mobile">
      <el-input v-model="addForm.mobile" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item label="邮箱" :label-width="formLabelWidth" prop="email">
      <el-input v-model="addForm.email" autocomplete="off"></el-input>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="addDialog = false">取 消</el-button>
    <el-button type="primary" @click="addDialog = false">确 定</el-button>
  </div>
</el-dialog>
<el-dialog
   title="分配角色"
   :visible.sync="roleDialog">
   <el-form :model="roleForm" label-width="80px">
      <el-form-item label="用户名">
         <el-input v-model="roleForm.username" disabled></el-input>
      </el-form-item>
      <el-form-item label="角色">
         <el-select v-model="roleForm.rid" placeholder="请选择">
            <el-option label="请选择" :value="-1"></el-option>
            <el-option :label="item.roleName" :value="item.id" v-for="item in roleForm.roles" :key="item.id"></el-option>
         </el-select>
      </el-form-item>
   </el-form>
   <div slot="footer">
      <el-button @click="roleDialog = false">取 消</el-button>
      <el-button type="primary" @click="editRole">确 定</el-button>
   </div>
</el-dialog>
  </div>
</template>

<script>
import dayjs from 'dayjs'
import relative from 'dayjs/plugin/relativeTime'
import 'dayjs/locale/zh-cn'
// import _ from 'underscore' 
import _ from 'lodash'
dayjs.extend(relative)
import mixin from '../mixins'
export default {
   mixins: [mixin],
   data(){
      return{
         breadcrumbs: [
              {
                  title: '首页',
                  name: 'Home'
              },
              {
                  title: '用户管理',
              },
              {
                  title: '用户列表',
              }
          ],
          searchForm: {
             query: ''
          },
          obj: null,
        params: {
           query: '',
           pagenum: 1,
           pagesize: 2
        },
        loading: true,
        addDialog: false,
        addForm: {
           username: '',
           password: '',
           email: '',
           mobile: ''
        },
        addRules:null,
        formLabelWidth: '120px',
        roleDialog: false,
        roleForm: {
           username: '',
           id: '',
           rid: '',
           roles: []
        },
        json_fields: {
           '角色名称': 'role_name'
        }
      }
   },
   methods: {
      async getUsers() {
         this.loading = true
         try {
            const res = await this.$apis.getUsers(this.params)
            this.obj = res
            this.loading = false
         }catch(err){
            this.loading = false
         }
         
      },
      //每页条数发生变化
      sizeChange(size) {
         this.params.pagesize = size
         this.$router.replace({
            name: this.$route.name,
            // query: Object.assign({...this.$route.query}, {pagesize: size})
            query: {
               ...this.$route.query,
               pagesize: size
            }
         })
         this.getUsers()
      },
      //页码发生变化
      currentChange(page) {
         this.params.pagenum = page
         this.$router.replace({
            name: this.$route.name,
            // query: Object.assign({...this.$route.query}, {pagesize: size})
            query: {
               ...this.$route.query,
               pagenum: page
            }
         })
         this.getUsers()
      },
      handleIndex(index){
         return (this.params.pagenum-1) * this.params.pagesize + index+1
      },
      //搜索用户
      search(){
         this.$router.replace({
            query: {
             ... this.$route.query, query: this.searchForm.query, pagenum: 1
            },
            name: this.$route.name
         })
         this.params = {...this.params,...this.searchForm,pagenum: 1}
         this.getUsers()
      },
      //修改用户状态
      async handleSwitchChange(obj) {
         const {id, mg_state} = obj
         await this.$apis.updateState({
            id,mg_state
         })
         this.getUsers()
      },
      //分配角色弹窗
      async showRoleDialog(obj) {
         this.roleForm.username = obj.username
         this.roleForm.id = obj.id
         const res = await this.$apis.getUserInfo(obj.id)
         const roles = await this.$apis.getRoles()
         this.roleForm.rid = res.rid
         this.roleForm.roles = roles
         this.roleDialog=true
      },
      //编辑角色
      async editRole() {
         await this.$apis.editRole(this.roleForm)
         this.roleDialog = false
      }
   },
   filters: {
      dealDate(val){
         return dayjs().locale('zh-cn').to(dayjs(val))
      }
   },
   created() {
      const { query, pagenum, pagesize} = this.$route.query
      this.params = Object.assign(this.params, {
         query: query||'',
         pagesize:pagesize? Number(pagesize):2,
         pagenum: pagenum?Number(pagenum):1
      })
      this.searchForm = Object.assign(this.searchForm,{
         query
      })
      this.getUsers()
   }
}

</script>
<style lang='scss' scoped>
</style>