<template>
  <div class='admin-breadcrumb'>
      <el-breadcrumb :separator="separator">
      <el-breadcrumb-item v-for="(item,index) in breadcrumbs" :key="index" :to="handleTo(item)">{{item.title}}</el-breadcrumb-item>
     </el-breadcrumb>
  </div>
</template>
<script>
export default {
   data(){
      return{
          
      }
   },
   props:{
      separator: {
          type: String,
          default: '>'
      },
       breadcrumbs: {
           type: Array
       }
   },
   methods: {
       handleTo(obj) {
           if(obj.name){
               return {
                   name: obj.name
               }
           }else {
               return ''
           }
       }
   }
}

</script>
<style lang='scss' scoped>
</style>